@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|PT+Sans+Narrow');
$font-PT-Sans: 'PT Sans Narrow', sans-serif;
$font-Open-Sans: 'Open Sans', sans-serif;
////////////////////////////////
//COLORS
$color-black: #333333;
$color-text: #ffffff;
$color-grey-text: #666666;
$color-grey-bg: #cccccc;
$color-blue: royalblue;
$color-red: crimson;

